{% extends 'vetapp/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
{% include 'vetapp/navigation.html' %}
{% load static %}

{{ card_form.media }}

<div class="regForm-container ml-5 mr-5">
    <div class="col-md-12 pt-1 offset-mr-auto text-black page-content border">
        <div class="px-5 ms-xl-4 col-md-12">
            <div class="d-flex align-items-center h-custom-2 px-1 ms-xl-4 mt-1 pt-1 pt-xl-0 mt-xl-n1 pb-1">

            <form style="width: 100%;" method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-md-4">
                    <label class="form-check-label">{{ card_form.card_no }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-check-label">{{ card_form.date_time }}</label>
                </div>
                <div class="col-md-4">
                    <label class="form-check-label">{{ card_form.user_clinic }}</label>
                </div>
            </div><hr/>

            <div class="form-row">
                <div class="col-md-5 border-right">
                    <h5 class="fw-normal ml-0 mb-1 pb-1" style="letter-spacing: 1px;">Client Details:</h5><hr/>
                    <div class="form-row">
                        <div class="form-group col-md-12">{{ client_form.is_owner|as_crispy_field }}</div>
                        <div class="form-group col-md-6 mb-0">{{ client_form.firstname|as_crispy_field }}</div>
                        <div class="form-group col-md-6 mb-0">{{ client_form.lastname|as_crispy_field }}</div>
                        <div class="form-group col-md-12 mb-0">{{ client_form.address|as_crispy_field }}</div>
                        <div class="form-group col-md-12 mb-0">{{ client_form.email|as_crispy_field }}</div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h5 class="fw-normal ml-0 mb-1 pb-1" style="letter-spacing: 1px;">Pet Details:</h5><hr/>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">{{ pet_form.name|as_crispy_field }}</div>
                            <div class="form-group col-md-6 mb-0">{{ pet_form.microchip|as_crispy_field }}</div>
                            <div class="form-group col-md-6 mb-0">{{ pet_form.microchip_code|as_crispy_field }}</div>
                            <div class="form-group col-md-6 mb-0">{{ pet_form.species|as_crispy_field }}</div>
                            <div class="form-group col-md-6 mb-0">{{ pet_form.breed|as_crispy_field }}</div>
                            <div class="form-group col-md-6 mb-0">{{ pet_form.color|as_crispy_field }}</div>
                            <div class="form-group col-md-6 mb-0">{{ pet_form.sex|as_crispy_field }}</div>
                            <div class="form-group col-md-4 mb-0">{{ pet_form.birthday|as_crispy_field }}</div>
<!--                            <div class="form-group col-md-3 mb-0">{{ visit_form.weight|as_crispy_field }}</div>-->
<!--                            <div class="form-group col-md-3 mb-0">{{ visit_form.weight|as_crispy_field }}</div>-->
                            <div class="form-group col-md-2 mb-0">{{ visit_form.weight|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <hr/><h5 class="fw-normal ml-0 mb-1 pb-1" style="letter-spacing: 1px;">Visit Details:</h5><hr/>
                        <div class="form-row">
                            <div class="form-group col-md-3">{{ visit_form.date|as_crispy_field }}</div>
                            <div class="form-group col-md-9 mb-0">{{ visit_form.notes|as_crispy_field }}</div>
                            <div class="form-group col-md-4 mb-0">{{ visit_form.treatment|as_crispy_field }}</div>
                            <div class="form-group col-md-4 mb-0">{{ visit_form.drug|as_crispy_field }}</div>
                            <div class="form-group col-md-4 mb-0">{{ visit_form.anestesia|as_crispy_field }}</div>
                        </div>
                    </div>
                </div>
            </div></hr>

                <div class="form-row">
                    <div>{{ visit_form.vet|as_crispy_field }}</div>
                </div>
            </form>
        </div>
        </div>
    </div>
    <button class="btn btn-info btn-lg mb-3" type="submit" value="Submit">Save</button>
</div>

{% endblock %}